parameters:
  level: 6
  bootstrapFiles:
    - vendor/autoload.php
  paths:
    - bin
    - src
  reportUnmatchedIgnoredErrors: false
  scanFiles:
    - bin/console
  ignoreErrors:
    -
      identifier: missingType.iterableValue
      path: src/Service/Github.php
      count: 3
includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
